* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 13px;
  min-height: 0px;
}

window#waybar {
  background: #0c0e0f;
}

tooltip {
  background: #1e1e2e;
  color: #f1f1f1;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 3px;
  margin-top: 3px;
  margin-bottom: 3px;

  color: #f1f1f1;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  background: #d9ddd6;
  color: #10130c;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: #d0ddd6;
  color: #313244;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#cpu,
#memory,
#custom-power,
#clock,
#workspaces,
#window,
#custom-updates,
#network,
#bluetooth,
#pulseaudio,
#custom-wallchange,
#custom-mode,
#custom-resetclipboard,
#tray {
  color: #f1f1f1;
  background: #0c0e0f;
  opacity: 1;
  padding: 0px;
  margin: 6px 0px 6px 0px;
}

/* resource monitor block */

#cpu {
  border-radius: 5px 0px 0px 5px;
}

#memory {
  border-radius: 0px 5px 5px 0px;
  border-left-width: 0px;
}

/* date time block */

#clock {
}

/* workspace window block */

#workspaces {
  border-radius: 5px 0px 0px 5px;
}

#window {
  border-radius: 0px 5px 5px 0px;
}

/* control center block */

#custom-updates {
  border-radius: 5px 0px 0px 5px;
}
#custom-wallchange {
  border-radius: 0px 5px 5px 0px;
}

/* system tray block */

#custom-mode {
  border-radius: 5px 0px 0px 5px;
}

#custom-resetclipboard {
  font-size: 15px;
}
#custom-power {
  border-radius: 0px 5px 5px 0px;
}
